.proyectsText{  color:  rgb(255, 255, 255);
border: rgb(2, 2, 2);
-webkit-text-stroke: 2px black;
font-size: xx-large;
font-weight:900;}

/* Proyects.module.css */
.image {
  max-width: 500px;
  max-height: 220px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.image:hover {
  filter: blur(5px); /* Aplicamos un desenfoque de 5px cuando el mouse está encima de la imagen */
}

/* Cambiar el color del texto y las flechas a rojo */
.carouselCaption {
  color:  var(--secondary-color); /* Color rojo */

  font-weight: bolder;
}



.carouselControlPrevIcon,
.carouselControlNextIcon {
 color: #ee0a0a; /* Color rojo */
 background-color:  var(--secondary-color)
}

.image:hover ~ .proyectsText {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Agregamos una sombra al texto */

}