:root{
    --primary-color: #fafe01;
    --secondary-color: rgb(179, 170, 170)

}
.col{
    background-color: aqua;
    height: 100vh;

 
}
.colD{
    background-color: var(--primary-color);
    height: 100vh;
    /* width: 100vw; */
   
 
}

.contenedorColD{
    width: 100vw;
}

.colD2{
    background: linear-gradient(266deg,#FFE4C4, #FFFFFF);
    height: 100vh;
    /* width: 100vw; */
 
}

.imagenPerfil{
    width: 12rem;
    height: 10rem;
    border-radius: 80%;
    border: solid 1px var(--secondary-color);
}

.primeraLinea {
        
    display: block;
    white-space: nowrap;
    background: var(--primary-color);

    
}


.cuadroTexto {
    background: linear-gradient(266deg,#FFE4C4, #FFFFFF);
       border-radius: 2%;
       height: 50rem;
      
}

.cuadroTexto p {
    text-align: justify;
    font-size:small ;
}
    
.cuadroTexto span{
    font-size: large;
}