:root{

    --secondary-color: rgb(179, 170, 170);
    --primary-font: font-family: 'Open Sans', sans-serif;

}
.col{
    background-color: aqua;
    height: 100vh;

 
}
.colD{
    background-color: var(--primary-color);
    height: 100vh;
    /* width: 100vw; */
   
 
}

.contenedorColD{
    width: 100vw;
}

.colD2{
    background: linear-gradient(266deg,#FFE4C4, #FFFFFF);
    height: 100vh;
    /* width: 100vw; */
 
}

.imagenPerfil{
    width: 12rem;
    height: 10rem;
    border-radius: 80%;
    border: solid 1px var(--secondary-color);
}

.primeraLinea {
        
    display: block;
    white-space: nowrap;
    background: var(--primary-color);
  

    
}


.icono{
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
}

.flechaBtn {

    height: 1.5rem;
    width: 1.5rem;
}

.flechaBtn:hover{
    cursor:pointer;
}

.tituloh3{ color:rgb(145, 125, 100);
    font-weight: bolder;}