.botonContacto {
  background-color: red;
  border: 0px;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  right: 20rem;
  top: -3rem;
  z-index: 99978;
}
.botonProyectos {
  z-index: 99978;
  background-color: red;
  border: 0px;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 20rem;
  top: -3rem;
}
.botonSobreMi {
  z-index: 99978;
  background-color: red;
  border: 0px;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  right: 20rem;
  top: 17rem;
}
.botonOtra1 {
  z-index: 99978;
  background-color: red;
  border: 0px;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 20rem;
  top: 17rem;
}
.botonOtra2 {
  z-index: 99978;
  background-color: red;
  border: 0px;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 25rem;
  right: 40rem;
}
