@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root{
    --primary-color: #dbdbc6;
    --secondary-color: rgb(179, 170, 170);
    --primary-font: 'Open Sans', sans-serif;

}
.col{
    background-color: aqua;
    height: 100vh;

 
}
.colD{
   background: linear-gradient(90deg, #FFFF66, #FFFFFF);
    height: 100vh;
    /* width: 100vw; */
   
 
}

.contenedorColD{
    width: 100vw;
}

.colD2{
    background-color:bisque;
    height: 100vh;
    /* width: 100vw; */
 
}

.imagenPerfil{
    width: 12rem;
    height: 10rem;
    border-radius: 80%;
    border: solid 1px var(--secondary-color);
}

.primeraLinea {
        
    display: block;
    white-space: nowrap;
    background: var(--primary-color);
   

    
}


.icono{
    margin-top: -2rem;
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
}

.flechaBtn {

    height: 1.5rem;
    width: 1.5rem;
}

.flechaBtn:hover{
    cursor:pointer;
}

