@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {

  margin: 0;


  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  
}
h3{ color:rgb(145, 125, 100);
font-weight: bolder;}
h4{ color:rgb(145, 125, 100);
  font-weight: bolder;}
  h5{ color:rgb(145, 125, 100);
    font-weight:bolder;}
  code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
